/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

img.redmarker {
    filter: hue-rotate(150deg);
}

img.greenmarker {
    filter: hue-rotate(280deg);
}

img.pinkmarker {
    filter: hue-rotate(100deg);
}

.golden path {
    fill: gold;
}